
.favorites-card {
    display: grid;
    grid-auto-columns: 40%;
    grid-template-areas: ".";
    gap: 1.5rem;
    place-content: center;
    .zoom_img {
        overflow: hidden;
        display: block;
        .card-img-transition {
            transition: all 0.5s ease-in;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
