@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
$font-1: 'Urbanist', sans-serif;
$font-2: 'Dancing Script', 'cursive';

$color-1: #071F32;
$color-2: #f7f7f7;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);
$color-5: #F04C47;
$color-6: #3498DB;
$color-7: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0rem auto;
  max-width: 1296px;
  font-family: $font-1;
  color: $color-6;
  background-color: $color-2;
  h1 {
    font-family: $font-2;
    
  }
  
  h3 {
    color: $color-6;
  }
  .title-small {
    text-align: center;
    padding:1rem
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: $color-6;
    cursor: pointer;
  }
  a:visited {
    color: $color-6;
  }
  hr {
    border: 4px solid $color-6;
    border-radius: 5px;
    margin: 1.5em;
  }
  img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }
}